{% extends "base.html.twig" %}


{% block body %}
	<h1 class="bg-blue-500 text-2xl text-center font-bold ">woohoo</h1>
	<img src="{{ asset('build/images/image1.3c360556.jpeg') }}" alt="">
{% endblock %}

